includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - public
        - routes
    level: 5
    ignoreErrors: []
    excludePaths:
        - app/Console/Commands
